/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* ==== Global ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #fc036b;
    --nav-bg: #484872;
}
a {
    text-decoration: none;  
}
.active {
    color: var(--main-color) !important;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}
/* Navbar */
.navbar {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
ul {
    list-style: none;
}
.navbar li a {
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0px 30px;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url('img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2 {
    font-size: 30px;
}
.line {
    width: 150px;
    height: 4px;
    background-color: var(--main-color);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background-color: var(--main-color);
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 24px;
    color: var(--nav-bg);
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row {
    margin-top: 50px;
}
h4 {
    font-size: 24px;
    color: var(--nav-bg);
    margin: 20px auto;
}
p {
    color: #7c7c7c;
    padding: 0px 40px;
}
.events .ctn {
    margin-top: 30px;
}
.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
}
.explore-content h1 {
    font-size: 42px;
}
.explore-content .line {
    margin: 20px 0px;
}
.explore-content p {
    color: rgb(221, 221, 221);
    padding: 20px 0px 40px 0px;
}
.explore-content .ctn {
    margin-top: 40px;
}

/* Mobile Device*/
@media only screen and (max-width: 850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0px;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: var(--nav-bg);
        margin-top: -930px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    
    }
}